In [2]:
x = "halo"

In [4]:
x

'halo'

In [7]:
m = 20
m
#sifat case-sensitif

20

## Conditional

In [10]:
if True:
    print('Hallo')
    print('Ok')

Hallo
Ok

In [12]:
if False:
    print('Hallo')
    print('Ok')

In [13]:
type(True)

bool

In [15]:
type(true) #error karena tidak kapital True

NameError: name 'true' is not defined

In [16]:
angka = 40
if angka > 30:
    print('angka di atas 30')

angka di atas 30

In [18]:
angka = 20
if angka > 30:
    print(f'{angka} di atas 30') #tidak terexecute karna hasil False

In [20]:
angka = 10
if angka > 30:
    print(f'{angka} di atas 30')
else:
    print(f'{angka} di bawah 30')

10 di bawah 30

In [21]:
angka = 30
if angka > 30:
    print(f'{angka} di atas 30')
elif angka == 30:
    print(f'{angka} sama dengan 30')
else:
    print(f'{angka} di bawah 30')

30 sama dengan 30

In [26]:
nilai = 
if 0 <= nilai <= 100:
    if 80 <= nilai <= 100 :
        print('A')
    elif 70 <= nilai < 80 :
        print('B')
    elif 60 <= nilai < 70 :
        print('C')
    elif 40 <= nilai < 60 :
        print('D')
    else :
        print('E')
else :
    print('Nilai di luar rentang')

Nilai di luar rentang

In [57]:
dic = {'rafif':60, 'aji':70, 'cia':90}

grade = {}
for nama, nilai in dic.items():
    if 0 <= nilai <= 100:
        if 80 <= nilai <= 100 :
            grade[nama] = 'A'
        elif 70 <= nilai < 80 :
            grade[nama] = 'B'
        elif 60 <= nilai < 70 :
            grade[nama] = 'C'
        elif 40 <= nilai < 60 :
           grade[nama] = 'D'
        else :
            grade[nama] = 'E'
    else :
        print('Nilai di luar rentang')

In [59]:
grade

{'rafif': 'C', 'aji': 'B', 'cia': 'A'}

In [60]:
for i, n in grade.items():
    print(i)
    print(n)

rafif
C
aji
B
cia
A

In [29]:
cities = ['Tokyo', 'Paris', 'Semarang']
nama_kota = 'Tokyo'

if nama_kota in cities :
    print(f"{nama_kota} merupakan anggota cities")

Tokyo merupakan anggota cities

## Looping

### While Loop

In [32]:
# update variable
angka = 1
angka = angka + 1

In [33]:
angka

2

In [35]:
i = 0

while i < 5 :
    print(i)
    i += 1

0
1
2
3
4

In [43]:
i = 1
j = 1

while i <= 10:
    while j  <= 10:
        print(f'{j} x {i} = {j*i}')
        j += 1
    print('-'*10) 
    i += 1
    j = 1

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
----------
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
----------
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
----------
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
----------
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
----------
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
----------
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
----------
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
----------
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
----------
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
----------

### For Loop

In [44]:
# for <temp var> in <set of value>

In [45]:
cities = cities + ['Balikpapan', 'New York', 'Medan']
cities

['Tokyo', 'Paris', 'Semarang', 'Balikpapan', 'New York', 'Medan']

In [47]:
for i in cities:
    print(i)
    
# every city in cities as i

Tokyo
Paris
Semarang
Balikpapan
New York
Medan

In [48]:
for i in range(1,10):
    print(f'nilai i adalah: {i}')
    print(f'{i} x 10 = {i*10}')

nilai i adalah: 1
1 x 10 = 10
nilai i adalah: 2
2 x 10 = 20
nilai i adalah: 3
3 x 10 = 30
nilai i adalah: 4
4 x 10 = 40
nilai i adalah: 5
5 x 10 = 50
nilai i adalah: 6
6 x 10 = 60
nilai i adalah: 7
7 x 10 = 70
nilai i adalah: 8
8 x 10 = 80
nilai i adalah: 9
9 x 10 = 90

In [49]:
angka = 70

print(f'nilai var angka adalah : {angka}')
#atau
print('nilai var angka adalah : {}'.format(angka))

nilai var angka adalah : 70
nilai var angka adalah : 70

In [ ]:
i = 1
j = 1

while i <= 10:
    while j  <= 10:
        print(f'{j} x {i} = {j*i}')
        j += 1
    print('-'*10) 
    i += 1
    j = 1

In [50]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} x {j} = {i*j}')
    print('-'*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [51]:
i = 0

while i < len(cities):
    print(cities[i])
    i += 1

Tokyo
Paris
Semarang
Balikpapan
New York
Medan

### Flow Control Statement

In [53]:
for i in range(1,11):
    print(i)
    if i == 7 :
        break
    
#break setelah i = 7

1
2
3
4
5
6
7

In [55]:
for i in range(1,11):
    if i == 7 :
        continue
    print(i)

#skip i = 7

1
2
3
4
5
6
8
9
10

In [56]:
for i in range(1,11):
    if i in [3, 5, 7] :
        continue
    print(i)

#skip i = 7, 5, 3

1
2
4
6
8
9
10